@model AboutPage

@{
    ViewBag.Title = "Burası About";
}

<h2>@Model.TitleName</h2>

<div id="lipsum">
    <h2 class="text-center">Burası Sayfa başlığı.</h2>
    
    @Html.Raw(@Model.AboutDescription)
</div>

<div id="generated">
    5 paragraf, 584 sözcük, 3953 karakter
    <a href="https://tr.lipsum.com/" title="Lorem Ipsum">Lorem Ipsum</a> üretilmiştir
</div>
<hr />